<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define your beans here -->

<!--    <bean id="myCoach"-->
<!--          class="com.Spring.springioc.BaseBallCoach">-->
<!--    </bean>-->

    <bean id="myFortuneService"
          class="com.Spring.springdi.HappyFortuneService">
    </bean>

    <bean id="myCoach"
          class="com.Spring.springdi.BaseBallCoach">
        <constructor-arg ref="myFortuneService">
        </constructor-arg>
    </bean>


</beans>
